@import "bootstrap-sprockets";
@import "bootstrap";

.align-middle {
  vertical-align: middle !important;
}

.align-middle p {
  margin: 0;
}

.comment-section {
  border-top: 1px solid black;
  margin-top: 8px;

  &__comment {
    margin: 8px;
  }
}

.new-comment-label {
  display: block;
  
td.align-middle {
  vertical-align: middle !important;
}

.movie_poster {
  width: 100px;
  height: 150px;
}
